<header id="header" class="container-fluid px-3 px-lg-4 py-2 py-lg-3 position-relative">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h3 class="h4 mb-0 text-uppercase">Mati<span class="text-primary">diaz</span></h3>
        <nav class="d-none d-lg-flex align-items-center">
            <a class="text-dark px-2" routerLink="/inicio" routerLinkActive="font-weight-bold">Inicio</a>
            <a class="text-dark px-2" routerLink="/habilidades" routerLinkActive="font-weight-bold">Habilidades</a>
            <a class="text-dark px-2" routerLink="/experiencia" routerLinkActive="font-weight-bold">Experiencia</a>
            <a class="text-dark px-2" routerLink="/contacto" routerLinkActive="font-weight-bold">Contacto</a>
        </nav>
        <a
            href="https://drive.google.com/file/d/14BgKP7Ro2KxEJvwEw8e51OWImBmDLY1G/view?usp=sharing"
            target="_blank"
            class="d-none d-lg-flex btn btn-outline-primary"
        >Curriculum</a>
        <a
            href="https://drive.google.com/file/d/14BgKP7Ro2KxEJvwEw8e51OWImBmDLY1G/view?usp=sharing"
            target="_blank"
            class="d-flex d-lg-none text-primary reset-underline align-items-center px-2 mx-n2"
        >
            <span class="material-symbols-rounded h1 m-0 font-weight-normal">file_download</span>
        </a>
    </div>
</header>