<div id="contact" class="h-100 d-flex flex-column">
    <nav class="container d-flex justify-content-center mb-5">
        <a
            href="https://dribbble.com/matidiaz00"
            target="_blank"
            class="reset-underline h6 mb-0 bg-hover-primary text-hover-white text-light-dark d-flex flex-column align-items-center text-center bg-white px-3 pt-3 pb-2 rounded mx-3"
        >
            <div class="flex-grow-1 d-flex align-items-center mb-2">
                <app-dribble></app-dribble>
            </div>
            <span>Dribble</span>
        </a>
        <a
            href="https://linkedin.com/in/matidiaz/"
            target="_blank"
            class="reset-underline h6 mb-0 bg-hover-primary text-hover-white text-light-dark d-flex flex-column align-items-center text-center bg-white px-3 pt-3 pb-2 rounded mx-3"
        >
            <div class="flex-grow-1 d-flex align-items-center mb-2">
                <app-linkedin></app-linkedin>
            </div>
            <span>Linkedin</span>
        </a>
        <a
            href="https://github.com/matidiaz00"
            target="_blank"
            class="reset-underline h6 mb-0 bg-hover-primary text-hover-white text-light-dark d-flex flex-column align-items-center text-center bg-white px-3 pt-3 pb-2 rounded mx-3"
        >
            <div class="flex-grow-1 d-flex align-items-center mb-2">
                <app-github></app-github>
            </div>
            <span>Github</span>
        </a>
        <a
            href="mailto:matidiaz00@gmail.com"
            class="reset-underline h6 mb-0 bg-hover-primary text-hover-white text-light-dark d-flex flex-column align-items-center text-center bg-white px-3 pt-3 pb-2 rounded mx-3"
        >
            <div class="flex-grow-1 d-flex align-items-center mb-2">
                <app-email></app-email>
            </div>
            <span>Correo</span>
        </a>
    </nav>
    <img src="/assets/contact.svg" class="w-50 mx-auto mt-auto" />
</div>