@import "/src/variables.scss";

$circleRatio: 39px;

::ng-deep .float-items {
    width: $mainBoxWidth;
    margin-top: calc(0px - #{$experienceFloatItemsHeight} - #{$experienceWrapperPadding} + #{calc($experienceBigCircleRatio/2)});
    .circles {
        height: $experienceBigCircleRatio;
        span.bg-primary {
            width: $experienceBigCircleRatio;
            height: $experienceBigCircleRatio;
        }
        span.bg-light {
            width: $circleRatio;
            height: $circleRatio;
            border: 9px solid $secondary;
        }
    }
}