<div id="home" class="h-100 d-flex flex-column">
    <div class="container text-center flex-grow-1 pt-2">
        <!--<h4 class="text-light-dark font-weight-normal mb-1">Frontend Developer con 11 años de experiencia</h4>-->
        <h1 class="h2 mb-3 px-5 mx-5">Desarrollo de software desde el lado del usuario, o <span class="text-primary">frontend developer</span> para la gente de IT </h1>
    </div>
    <div class="h-100 overflow-hidden mx-auto">
        <lottie-player
            [src]="file"
            #myRef
            id="firstLottie"
            mode="normal"
            background="transparent"
            speed=".5"
            loop
            autoplay
        ></lottie-player>
    </div>
  </div>