@import "~@matidiaz/styles/src/styles/variables";

$mainBoxWidth: 240px;
$mainBoxDescriptionWidth: 290px;

$experienceFloatItemsHeight: 108px;
$experienceWrapperPadding: 2.5rem;
$experienceBigCircleRatio: 53px;